@model Lippo.Models.AccountListModel
@{
    ViewBag.Title = "Account List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    Account List
                </h3>
            </div>
        </div>
    </div>
    @Html.Partial("_AccountList", Model);
</div>

@section scripts {
<script>
        $(function () {
            var allTopMenu = $("#topMenu > li");
            allTopMenu.addClass('m-menu__item');
            allTopMenu.removeClass('m-menu__item--active');
            $("#menuSystem").addClass('m-menu__item--active');
        });
</script>
    }
    
    
