<!doctype html>
<html class="no-js" lang="en-US">
<head>
<!-- Google Tag Manager --> 
<script> 
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5BH97D2'); 
</script> 
<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ec499828ee2956d73a2c906/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script> -->
<!--End of Tawk.to Script-->
<!-- End Google Tag Manager -->

	<!-- meta -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	
    <title>@ViewBag.Title</title>
	@RenderSection("Head", false)
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BH97D2"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <a href="https://wa.me/6282117880504" target="_blank">
        <button class="whatsapp-btn">
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="60" height="60" rx="30" fill="#00BD13" />
                <path d="M39.4 20.5467C38.1776 19.3119 36.7216 18.3329 35.1168 17.6667C33.5121 17.0006 31.7908 16.6606 30.0533 16.6667C22.7733 16.6667 16.84 22.6 16.84 29.88C16.84 32.2133 17.4533 34.48 18.6 36.48L16.7333 43.3333L23.7333 41.4933C25.6667 42.5467 27.84 43.1067 30.0533 43.1067C37.3333 43.1067 43.2667 37.1733 43.2667 29.8933C43.2667 26.36 41.8933 23.04 39.4 20.5467ZM30.0533 40.8667C28.08 40.8667 26.1467 40.3333 24.4533 39.3333L24.0533 39.0933L19.8933 40.1867L21 36.1333L20.7333 35.72C19.637 33.9693 19.0549 31.9457 19.0533 29.88C19.0533 23.8267 23.9867 18.8933 30.04 18.8933C32.9733 18.8933 35.7333 20.04 37.8 22.12C38.8233 23.1386 39.6343 24.3502 40.1859 25.6846C40.7374 27.0189 41.0187 28.4495 41.0133 29.8933C41.04 35.9467 36.1067 40.8667 30.0533 40.8667ZM36.08 32.6533C35.7467 32.4933 34.12 31.6933 33.8267 31.5733C33.52 31.4667 33.3067 31.4133 33.08 31.7333C32.8533 32.0667 32.2267 32.8133 32.04 33.0267C31.8533 33.2533 31.6533 33.28 31.32 33.1067C30.9867 32.9467 29.92 32.5867 28.6667 31.4667C27.68 30.5867 27.0267 29.5067 26.8267 29.1733C26.64 28.84 26.8 28.6667 26.9733 28.4933C27.12 28.3467 27.3067 28.1067 27.4667 27.92C27.6267 27.7333 27.6933 27.5867 27.8 27.3733C27.9067 27.1467 27.8533 26.96 27.7733 26.8C27.6933 26.64 27.0267 25.0133 26.76 24.3467C26.4933 23.7067 26.2133 23.7867 26.0133 23.7733H25.3733C25.1467 23.7733 24.8 23.8533 24.4933 24.1867C24.2 24.52 23.3467 25.32 23.3467 26.9467C23.3467 28.5733 24.5333 30.1467 24.6933 30.36C24.8533 30.5867 27.0267 33.92 30.3333 35.3467C31.12 35.6933 31.7333 35.8933 32.2133 36.04C33 36.2933 33.72 36.2533 34.2933 36.1733C34.9333 36.08 36.2533 35.3733 36.52 34.6C36.8 33.8267 36.8 33.1733 36.7067 33.0267C36.6133 32.88 36.4133 32.8133 36.08 32.6533Z" fill="white" />
            </svg>

        </button>
    </a>
    <style>
        .whatsapp-btn {
            position: fixed;
            right: 20px;
            bottom: 20px;
            width: 60px;
            height: 60px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            z-index: 1000;
        }
    </style>
    @RenderBody()
    @RenderSection("BottomScript", false)
</body>
</html>