@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-content" id="content">
			<div class="container">
			<div class="container">
				<div class="row">
					<div class="right_sidebar col-sm-8 col-md-9" itemprop="mainContentOfPage" role="main">
						<div id="th-content-post">
							<div class="kl-single-layout--modern post-109 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized prodpage-style3" id="post-109">
								<div class="itemView clearfix eBlog kl-blog kl-blog-list-wrapper kl-blog--style-light">
									<div class="kl-blog-post" itemscope="itemscope" itemtype="https://schema.org/Blog">
										<div class="kl-blog-single-head-wrapper">
											<img alt="" height="588" src="assets/saturday.jpg" title="affairs.jpg" width="1200">                                                                             
										</div>
                                                                                <div class="clearfix"></div>
										 <h1 class="page-title kl-blog-post-title entry-title" itemprop="headline">Saturday Village Walk</h1>
										<div class="itemBody kl-blog-post-body kl-blog-cols-1" itemprop="text">
                                                                                        <p>
                                                                                       Come and join us for walking, running or cycling around the inner lane CBD Lippo Village on the last Saturday of each month from 06:00 to 08:30 AM.  Professional Instructor will be available for your exercise, such as Zumba, heart health exercise etc.  During the activities the road around the area will be closed for vehicles.  Parking areas : Menara Matahari, Maxx Box and helipad carpark.  
                                                                                        </p>
																						<p>
																						Let’s have fun with the whole family and friends; and enjoy the morning sunshine in Saturday Village Walk in Lippo Village.</p>  
																						<p>For further info please contact our Call Center at (021) 55 777 557.  See you there!
																						</p>
                                                                                        

                                                                                </div>

                                     
									</div>
								</div>
							</div>
						</div>
					</div>
					<aside class=" col-sm-4 col-md-3" itemscope="itemscope" itemtype="" role="complementary">
						<div class="zn_sidebar sidebar kl-sidebar--light element-scheme--light">
							
                                                        <div class="widget zn-sidebar-widget widget_meta" id="meta-2">
								<h3 class="widgettitle zn-sidebar-widget-title title">EXPLORE</h3>
								<ul>
									<li>
										<a href="">Getting Arround</a>
									</li>
									<li>
										<a href="">Whats On</a>
									</li>
									<li>
										<a href="">Education</a>
									</li>
                                                                        <li>
										<a href="">Recreation & Leisure</a>
									</li>
                                                                        <li>
										<a href="">Transportation</a>
									</li>
									
								</ul>
							</div>
							<div class="widget zn-sidebar-widget widget_archive" id="archives-2">
								<h3 class="widgettitle zn-sidebar-widget-title title">PROMOTION</h3>
								<span class="hoverBorderWrapper">
                                                                    <img alt="" src="assets/promo.jpg" title="promo.jpg" width="400">
                                                                     <span class="theHoverBorder"></span>    
                                                                </span>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</section>
		
        
        
      <div class="znpb-footer-smart-area"> 
        <section class="zn_section eluidc92829ca     section-sidemargins    section--no " id="eluid0fb936a6" data-anim-delay="700ms">
          <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">
            <div class="row ">
              <div class="eluid2d3f8c6a      col-md-12 col-sm-12   znColumnElement" data-anim-delay="700ms" id="eluid2d3f8c6a">
                <div class="znColumnElement-innerWrapper-eluid2d3f8c6a znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-center ">
                  <div class="znColumnElement-innerContent"> 
                    <div class="th-spacer clearfix eluid3936fac4     ">
                    </div> 
                  </div>
                </div>
              </div>
              <div class="eluide5346762      col-md-3 col-sm-3   znColumnElement" id="eluide5346762">
                <div class="znColumnElement-innerWrapper-eluide5346762 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                  <div class="znColumnElement-innerContent"> 
                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluide78db88e ">
                      <h3 class="tbk__title" itemprop="headline">
                        <a href='#' class='site-logo-anch'>
                           <img class="" src="assets/lippologowhite.png" width="160" alt="Lippo" title="Lippo loggo white" data-mobile-logo="assets/lippologowhite.png">
                        </a>
                      </h3>
                      <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                          Capitalizing on demographic and lifestyle
                            changes in Indonesia, while providing a
                            solution to the traffic jams, floods and
                            inadequate upgrading of the
                            infrastructure, work in Lippo Village has
                            now already begun for a new Lippo
                            Village CBD, "The Millennium Village". 
                      </h4>
                    </div> 
                  </div>
                </div>
              </div>
              <div class="eluide7c0b1e8      col-md-3 col-sm-3   znColumnElement" id="eluide7c0b1e8">
                <div class="znColumnElement-innerWrapper-eluide7c0b1e8 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                  <div class="znColumnElement-innerContent"> 
                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluid00914fe4 ">
                      <h3 class="tbk__title" itemprop="headline">TOWN SERVICE
                      </h3>
                    </div>
                       <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluide78db88e ">
                     <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                                TMD Office
                                Lippo Cyber Park
                                2121 Bulevar Gajah Mada #00-01
                                Lippo Village Utara
                                Tangerang 15811, Banten
                            </h4>
                         <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                            Email TMD@lippokarawaci.co.id
                            Phone 021-83748593
                            </h4> 
                      
                    </div> 
                   
                  </div>
                </div>
              </div>
              <div class="eluid558f9db7      col-md-3 col-sm-3   znColumnElement" id="eluid558f9db7">
                  <div class="znColumnElement-innerWrapper-eluide7c0b1e8 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                  <div class="znColumnElement-innerContent"> 
                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluid00914fe4 ">
                      <h3 class="tbk__title" itemprop="headline">PAGES
                      </h3>
                    </div>
                    <div class="zn_custom_container eluid3dd2bae7 txtuppercase smart-cnt--default   clearfix" data-anim-delay="700ms">
                      <div class="row zn_col_container-smart_container ">
                        <div class="eluid1d611e8b      col-md-6 col-sm-6   znColumnElement" id="eluid1d611e8b">
                          <div class="znColumnElement-innerWrapper-eluid1d611e8b znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                            <div class="znColumnElement-innerContent"> 
                              <div class="elm-custommenu clearfix eluid56195dc2 txtuppercase text-left elm-custommenu--normal" data-anim-delay="700ms">
                              <ul id="eluid56195dc2" class="elm-cmlist clearfix elm-cmlist--skin-light element-scheme--light zn_dummy_value elm-cmlist--normal nav-with-smooth-scroll">
                                  <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-110 current_page_item menu-item-120 active">
                                    <a href="#">
                                      <span>Home
                                      </span>
                                    </a>
                                  </li>
                                  <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121">
                                    <a href="#">
                                      <span>Services
                                      </span>
                                    </a>
                                  </li>
                                  <li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247">
                                    <a href="#">
                                      <span>Appointment
                                      </span>
                                    </a>
                                  </li>
                                  <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
                                    <a href="#">
                                      <span>About
                                      </span>
                                    </a>
                                  </li>
                                  <li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124">
                                    <a href="#">
                                      <span>Contact
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </div> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="eluid4b21d5e5      col-md-3 col-sm-3   znColumnElement" id="eluid4b21d5e5">
                <div class="znColumnElement-innerWrapper-eluid4b21d5e5 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                  <div class="znColumnElement-innerContent"> 
                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluidf5507378 " data-anim-delay="700ms">
                      <h3 class="tbk__title" itemprop="headline">NEWSLETTER
                      </h3>
                    </div>
                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluidb0c449dc " data-anim-delay="700ms">
                      <h4 class="tbk__subtitle" itemprop="alternativeHeadline">Recieve our latest news straight to your inbox
                      </h4>
                    </div>
                    <div class="elm-nlbox eluidcbbb4307  nlbox--style-normal nlbox--layout-rows" data-anim-delay="700ms">
                      <form method="post" class="elm-nlbox__form clearfix" data-url="https://demo.kallyas.net/medical/" name="newsletter_form">
                        <input type="text" name="zn_mc_email" class="elm-nlbox__input nl-email form-control btn--rounded" value="" placeholder="Email address" required="required" />
                        <button type="submit" name="submit" class="elm-nlbox__submit nl-submit btn--rounded">
                          SUBSCRIBE 
                        </button>
                        <input type="hidden" name="zn_list_class" class="nl-lid" value="acc4aa1f3d" />
                      </form>
                      <div class="elm-nlbox__result zn_mailchimp_result">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="eluid48becdea      col-md-12 col-sm-12   znColumnElement" id="eluid48becdea">
                <div class="znColumnElement-innerWrapper-eluid48becdea znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                  <div class="znColumnElement-innerContent"> 
                    <div class="zn_separator clearfix eluid2a7564fa zn_separator--icon-no " data-anim-delay="700ms">
                    </div>
                  </div>
                </div>
              </div>
              <div class="eluid4917fd37      col-md-12 col-sm-12   znColumnElement" id="eluid4917fd37">
                <div class="znColumnElement-innerWrapper-eluid4917fd37 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                  <div class="znColumnElement-innerContent"> 
                    <div class="zn_text_box eluid7ad4a3c4  zn_text_box-light element-scheme--light" data-anim-delay="700ms">
                      <h6 style="text-align: center;">
                        <span style="line-height: 11px;">
                          <span style="color: #a0b4c7;">Copyright © 2017 Lippo Village Management
                          </span>
                        </span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

